@model List<Person>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of birth</th>
            <th scope="col">Phone number</th>
            <th scope="col">Birth place</th>
            <th scope="col">Is graduated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Gender</td>
                <td>@item.DateOfBirth.ToString("dd/MM/yyyy")</td>
                <td>@item.PhoneNumber</td>
                <td>@item.BirthPlace</td>
                <td>@(item.IsGraduated == true ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>